# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Large Datasets & Archives
*.tar.gz
*.zip
*.onnx
ai/wakeword/generated/negative_sources/

# Python Cache & C-Extensions
__pycache__/
*.py[cod]
*.dll
*.so
*.dylib
*.wav


# Ignore Virtual Environment
.venv/
venv/

# Ignore Tarballs, Zip Archives & ONNX Models
*.tar.gz
*.zip
*.onnx

# Ignore DLLs and heavy binaries
*.dll
*.so